.tributo-tranquilo {
    position: absolute;
    top: 131px;
    left: 221px;
    font-size: 32px;
    line-height: 130%;
    font-family: 'Fredoka One';
    color: #fff;
    display: inline-block;
    width: 281px;
    height: 36px;
}
.image-4-icon {
    position: absolute;
    top: 217px;
    left: 217px;
    border-radius: 50px;
    width: 205px;
    height: 353px;
    object-fit: cover;
}
.image-5-icon {
    position: absolute;
    top: 238px;
    left: 395px;
    border-radius: 50px;
    width: 172px;
    height: 311px;
    object-fit: cover;
}
.nome {
    position: relative;
    line-height: 180%;
}
.input {
    align-self: stretch;
    border-radius: 50px;
    background-color: #fff;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
    box-sizing: border-box;
}
.form {
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% + 100px);
    width: 426px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.form1 {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% + 100px);
    width: 426px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.form2 {
    position: absolute;
    top: calc(50% + 40px);
    left: calc(50% + 100px);
    width: 426px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.form3 {
    position: absolute;
    top: calc(50% - 84px);
    left: calc(50% + 100px);
    width: 426px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.form4 {
    position: absolute;
    top: calc(50% - 186px);
    left: calc(50% + 100px);
    width: 197px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.form5 {
    position: absolute;
    top: calc(50% - 186px);
    left: calc(50% + 305px);
    width: 225px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.form6 {
    position: absolute;
    top: calc(50% + 206px);
    left: calc(50% + 104px);
    width: 426px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.form7 {
    position: absolute;
    top: calc(50% + 142px);
    left: calc(50% + 104px);
    width: 273px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.form8 {
    position: absolute;
    top: calc(50% + 142px);
    left: calc(50% + 390px);
    width: 140px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.cadastrar {
    position: absolute;
    top: calc(50% - 295px);
    left: calc(50% + 112px);
    font-size: 25px;
    line-height: 130%;
    font-family: 'Fredoka One';
    color: #fff;
    display: inline-block;
    width: 437px;
}
.j-tem-uma {
    position: absolute;
    top: calc(50% + 411px);
    left: calc(50% + 128px);
    line-height: 130%;
    color: #fff;
    display: inline-block;
    width: 274px;
}
.button {
    position: absolute;
    top: calc(50% + 327px);
    left: calc(50% + 104px);
    border-radius: 50px;
    background-color: #4bc3cc;
    width: 426px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 16px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Fredoka One';
}
.coluna-logo {
    position: absolute;
    top: 179px;
    left: 360px;
    width: 325px;
    height: 10px;
}
.cadastro {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #222937, #488ab9);
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #44494f;
    font-family: Montserrat;
}

