<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação de E-mail</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='valida_cod.css')}}">
</head>
<body>
    <div class="header">
        <h1>Contabilize Bem</h1>
    </div>
    <div class="container">
        <div class="verification-box">
            <h2>Verifique Seu Código</h2>
            <p>Insira o código de acesso que você acabou de receber no seu endereço {{ email }}</p>


            <!-- Formulário para verificação do código -->
            <form action="{{ url_for('verify_email') }}" method="POST">
                <div class="code-inputs">
                    <input type="text" maxlength="1" id="code-1" name="code-1" class="code-input" required>
                    <input type="text" maxlength="1" id="code-2" name="code-2" class="code-input" required>
                    <input type="text" maxlength="1" id="code-3" name="code-3" class="code-input" required>
                    <input type="text" maxlength="1" id="code-4" name="code-4" class="code-input" required>
                </div>
                <button type="submit" class="verify-button">Verificar</button>
            </form>

            <a href="#" class="resend-code">Não recebeu um código?</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='valida_cod.js') }}"></script>
</body>
</html>
